[package]
name = "oj-shell"
version.workspace = true
edition.workspace = true
license.workspace = true

[lints]
workspace = true

[dependencies]
thiserror.workspace = true
serde.workspace = true

[dev-dependencies]
proptest = "1.4"
yare.workspace = true
